:root {
  --titleblue: rgba(2, 59, 86, 1);
  --lightgreen: rgba(44, 188, 100, 1);
  --herobg: rgba(225, 236, 240, 1);
  --white: rgba(244, 246, 250, 1);
  --paragraphGray: rgb(56, 58, 61);
  --navyBlue: rgba(2, 58, 81, 1)
}

.ContactUsComponent {
  padding: 5%;
}

.contactUsWrapper {
  padding: 5%;
  background-color: var(--navyBlue);
  color: #fff;
  border-radius: 15px;
}

/* Style for the contact us left section/ block */

.contactUsLeft {
  -ms-behavior: 1rem 0;
}

.contactUsLeft h2 {
  margin: .7rem 0;
  text-align: center;
}

.contactUsLeft div {
  margin: .7rem 0;
}

.contactUsLeft div h3 {
  margin: .5rem 0;
  text-align: center;
}

.contactUsLeft div h3 i {
  margin: 0 .5rem 0 0;
  font-size: 20px;
  color: var(--lightgreen);
}

.contactUsLeft div p {
  margin: .5rem 0;
}

/* Style the contact us right/ form */

.contactUsRight {
  margin: 1.5rem 0;
  background-color: #fff;
  padding: 5%;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.contactUsRight div input {
  width: 100%;
  margin: .5rem 0;
  padding: 8px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--titleblue);
}

.contactUsRight textarea {
  width: 100%;
  height: 180px;
  margin: .5rem 0;
  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--titleblue);
}

.contactUsRight button {
  border: none;
  outline: none;
  margin: .5rem 0;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: var(--lightgreen);
}

.contactUsRight button i {
  margin: 0 0 0 .5rem;
  font-size: 20px;
}

.contactUsRight button:hover {
  border: 1px solid var(--lightgreen);
  background: #fff;
  cursor: pointer;
  transition: .5s;
  color: var(--lightgreen);
}

.contactUsRight button:active {
  color: #fff;
  background: var(--lightgreen);
}



/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {
  .ContactUsComponent {
    padding: 5% 8%;
  }

  .contactUsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .contactUsLeft h2 {
    margin: 1.2rem 0;
    text-align: left;
    font-size: 25px;
  }

  .contactUsLeft div h3 {
    margin: 1rem 0;
    text-align: left;
    font-size: 25px;
  }

  .contactUsLeft div h3 i {
    margin: 0 .8rem 0 0;
    font-size: 25px;
  }

  .contactUsLeft div p {
    font-size: 18px;
  }

  .contactUsRight button {
    width: 100%;
  }
  
  .contactUsRight button i {
    margin: 0 0 0 .8rem;
    font-size: 22px;
  }
}

/* Desktop versions now */

@media screen and (min-width: 1080px) {
  .ContactUsComponent {
    padding: 5% 10%;
  }

  .contactUsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .contactUsLeft h2 {
    margin: 1.5rem 0;
    text-align: left;
    font-size: 35px;
  }

  .contactUsLeft div h3 {
    margin: 1rem 0;
    text-align: left;
    font-size: 30px;
  }

  .contactUsLeft div h3 i {
    margin: 0 1rem 0 0;
    font-size: 30px;
  }

  .contactUsForm div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 1rem 0;
  }
  
  .contactUsRight button i {
    margin: 0 0 0 1rem;
    font-size: 25px;
  }
}