:root {
  --titleblue: rgba(2, 59, 86, 1);
  --lightgreen: rgba(44, 188, 100, 1);
  --herobg: rgba(225, 236, 240, 1);
  --white: rgba(244, 246, 250, 1);
  --paragraphGray: rgb(56, 58, 61);
}

.currentUserProfileComponent {
  position: relative;
  width: 100%;
  height: 100%;
}

.currentUserProfileComponent img {
  height: 25vh;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.currentUserProfileWrapper {
  padding: 5%;
}

.currentUserProfileWrapper .userProfileTop {
  text-align: center;
}

.currentUserProfileWrapper .userProfileTop img {
  border-radius: 50%;
  width: 6rem;
  max-width: 100%;
  object-fit: cover;
  margin: -4rem 0 0 0;
  padding: 5px;
  background-color: var(--lightgreen);
  display: inline-block;
}

.currentUserProfileWrapper .userProfileTop p {
  font-weight: bolder;
  margin: 0.5rem 0;
}

/* The user stats */

.userProfileMiddle {
  /* margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); */
  max-width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
}

.userProfileMiddle div {
  flex: 1;
  text-align: center;
}

.userProfileBottomItem a {
  margin: 0.7rem 0;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--titleblue);
}

.userProfileBottomItem a:hover {
  color: var(--lightgreen);
}

.userProfileBottomItem a:active {
  color: var(--titleblue);
}

.userProfileBottomItem a p i {
  margin-right: 0.6rem;
  color: var(--lightgreen);
}

/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {
  /* Tablet version */
}

/* Desktop versions now */

@media screen and (min-width: 1080px) {
  /* Shall contain the desktop version styles  */
}
