/* stylelint-disable no-descending-specificity */
:root {
  --titleblue: rgba(2, 59, 86, 1);
  --lightgreen: rgba(44, 188, 100, 1);
  --herobg: rgba(225, 236, 240, 1);
  --white: rgba(244, 246, 250, 1);
  --paragraphGray: rgb(56, 58, 61);
}





/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {
  .FeedNavBar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--herobg);
  }

  .feedNavBarLeft a {
    text-decoration: none;
    padding: 10px;
    margin-right: 1rem;
    color: var(--lightgreen);
    background-color: #fff;
    transition: .5s;
  }

  .feedNavBarLeft a:hover {
    border: 1px solid #fff;
    background-color: var(--lightgreen);
    color: #fff;
  }

  .feedNavBarLeft a:active {
    color: var(--lightgreen);
    background-color: #fff;
  }

  .feedNavBarLeft a i {
    font-size: 20px;
  }

  .followrequests::before {
    content: "Follow Requests";
    position: absolute;
    top: 20px; /* Adjust this value to position the text as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #000;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  }

  /* Feed navbar right */

  .FeedNavBar .feedNavBarRight {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .FeedNavBar .feedNavBarRight .formFeedSearch {
    display: flex;
    margin: 0 2rem;
  }

  .FeedNavBar .feedNavBarRight .formFeedSearch input {
    border-radius: 15px;
    padding: 10px;
    border: 1px solid var(--titleblue);
  }


  .FeedNavBar .feedNavBarRight .formFeedSearch button {
    border: none;
    outline: none;
    padding: 10px;
    margin-left: 1rem;
    color: var(--lightgreen);
    background-color: #fff;
    transition: .5s;
  }

  .FeedNavBar .feedNavBarRight .formFeedSearch button:hover {
    border: 1px solid #fff;
    background-color: var(--lightgreen);
    color: #fff;
  }

  .FeedNavBar .feedNavBarRight .formFeedSearch button:active {
    color: var(--lightgreen);
    background-color: #fff;
  }

  .FeedNavBar .feedNavBarRight img {
    width: 4rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 15px;
  }
}

/* Desktop versions now */

@media screen and (min-width: 1080px) {
  
}
