:root {
  --titleblue: rgba(2, 59, 86, 1);
  --lightgreen: rgba(44, 188, 100, 1);
  --herobg: rgba(225, 236, 240, 1);
  --white: rgba(244, 246, 250, 1);
  --paragraphGray: rgb(56, 58, 61);
}

/* .Posts {
  overflow-y: scroll;
} */

.Post {
  position: relative;
  border-radius: 15px;
  padding: 5%;
  margin: 1.5rem 0;
  width: 100%;
  box-shadow: -1px -1px 15px 2px rgba(192, 181, 181, 1);
}

/* Responsive design now */

/* Tablet version */

@media screen and (min-width: 748px) {

  .postHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
  }

  .postHeader .postHeaderLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .postHeaderLeft img {
    width: 4rem;
    max-width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
  }

  .postHeaderLeft .postHeaderLeftAuthor h2 {
    font-size: 18px;
  }

  .postHeaderLeft .postHeaderLeftAuthor p {
    font-size: 15px;
  }

  .postHeader .postHeaderRight button {
    outline: none;
    border: none;
    cursor: pointer;
  }

  .postHeader .postHeaderRight button i {
    font-size: 25px;
    font-weight: bold;
    transition: .5s;
  }

  .postHeader .postHeaderRight button i:hover {
    color: var(--lightgreen);
  }

  .postBody {
    margin: 1rem 0;
  }

  .postBody p {
    margin: 1rem 0;
  }

  .postBody img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .postInteractions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .postInteractions div {
    display: flex;
    align-items: center;
  }


  .postInteractions div p {
    margin-right: 1rem;
  }

  .postInteractions div p i {
    font-size: 22px;
    margin-right: .3rem;
    color: var(--lightgreen);
  }

  .postInteractions div button {
    margin-left: 1rem;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: .5s;
    background-color: var(--herobg);
  }

  .postInteractions div button:hover {
    color: #fff;
    background-color: var(--lightgreen);
  }

  .postInteractions div button:active {
    color: var(--lightgreen);
    background-color: #fff;
    border: 1px solid var(--lightgreen);
  }

  .postInteractions div button i {
    margin-right: .5rem;
  }

  /* The toggle */
  .postDelEdit {
    position: absolute;
    top: 6rem;
    right: 5%;
    z-index: 1;
    background-color: var(--herobg);
    padding: 5%;
    height: 30%;
    display: flex;
    flex-direction: column;
  }

  .postDelEdit button {
    margin: 1rem 0;
    outline: none;
    border: none;
  }
}

/* Desktop versions now */

@media screen and (min-width: 1080px) {
  
}
